*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
body {
  background-color: #252a2f;
}
a {
  color: #fff;
}
.header {
  height: 44.8vw;
  margin-top: 4.8vw;
}
.header ul {
  margin-right: 12.26666667vw;
  margin-top: 4.8vw;
  margin-left: 10.66666667vw;
  display: flex;
  justify-content: space-between;
  height: 10.93333333vw;
}
.header ul li:first-child {
  height: 3.2vw;
  width: 5.33333333vw;
  margin-top: 3.2vw;
}
.header ul li:nth-child(2) {
  height: 10.93333333vw;
  width: 10.93333333vw;
}
.header ul li:nth-child(3) {
  font-size: 4.26666667vw;
  margin-top: 4.26666667vw;
  font-weight: 600;
}
.header ul li:nth-child(4) {
  font-size: 4.26666667vw;
  margin-top: 4.26666667vw;
  font-weight: 600;
}
.header .top2 {
  font-size: 10.66666667vw;
  font-weight: 600;
  margin-top: 13.86666667vw;
  margin-left: 26.66666667vw;
  color: #fff;
  margin-bottom: 5.33333333vw;
}
.header .top3 {
  background-color: #9b59b6;
  color: #fff;
  padding: 5.33333333vw 8vw;
  font-size: 6.93333333vw;
  height: 19.2vw;
}
.border {
  background-color: #fff;
  margin-top: 19.2vw;
  padding-bottom: 19.73333333vw;
}
.border .bod1 {
  margin-left: 5.06666667vw;
  margin-top: 15.2vw;
}
.border .bod1 p {
  padding-top: 15.2vw;
  font-size: 6.93333333vw;
  font-weight: 400;
}
.border .bod1 img {
  margin-top: 8.8vw;
  height: 60vw;
  width: 90.13333333vw;
  border-radius: 1.33333333vw;
  margin-bottom: 10.66666667vw;
}
.border .bod2 {
  margin-left: 5.06666667vw;
}
.border .bod2 h3 {
  font-size: 6.93333333vw;
  margin-bottom: 5.86666667vw;
}
.border .bod2 p {
  font-size: 4.26666667vw;
  color: #5a5e7c;
}
.border .bod2 ul li {
  margin-top: 9.6vw;
}
.border .bod2 ul li .top1 {
  display: flex;
  color: #5a5e68;
  font-size: 5.33333333vw;
  font-weight: 600;
  justify-content: space-between;
}
.border .bod2 ul li .top1 p {
  font-size: 5.33333333vw;
  margin-right: 5.06666667vw;
}
.border .bod2 ul li .butt img {
  width: 90.13333333vw;
  height: 2.93333333vw;
  margin-top: 5.33333333vw;
}
.border .bod3 {
  background-color: #fff;
  margin-top: 9.33333333vw;
  margin-right: 5.06666667vw;
}
.border .bod3 ul {
  padding-top: 11.2vw;
  margin-left: 5.06666667vw;
}
.border .bod3 ul li:first-child {
  margin-left: 28.8vw;
  font-size: 6.93333333vw;
  margin-bottom: 10.13333333vw;
  font-weight: 700;
}
.border .bod3 ul li:nth-child(2) {
  margin-left: 13.86666667vw;
}
.border .bod3 ul li:nth-child(2) img {
  height: 58.66666667vw;
  width: 58.66666667vw;
  border-radius: 50%;
}
.border .bod3 ul li:nth-child(3) {
  font-size: 4.26666667vw;
}
.border .bod3 ul li:nth-child(3) h3 {
  margin-top: 8.8vw;
  margin-left: 23.73333333vw;
  color: #9b59b6;
  font-size: 5.86666667vw;
}
.border .bod3 ul li:nth-child(3) p {
  margin-left: 29.86666667vw;
  margin-top: 10.66666667vw;
  color: black;
  font-weight: 700;
  margin-bottom: 6.66666667vw;
}
.border .bod3 ul li:nth-child(3) span {
  color: #5a5e68;
  font-size: 3.73333333vw;
  font-weight: 600;
}
.foot {
  height: 31.46666667vw;
  background-color: #252a2f;
}
.foot .to {
  padding-top: 6.13333333vw;
  margin-left: 13.6vw;
  margin-right: 13.6vw;
  font-size: 4.26666667vw;
  font-weight: 600;
  color: #9b59b6;
}
.foot .buttom {
  margin-top: 6.4vw;
  margin-left: 36.53333333vw;
  margin-right: 36.53333333vw;
}
.foot .buttom ul {
  display: flex;
  justify-content: space-between;
}
