*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
body {
  background-color: #252a2f;
}
a {
  color: #fff;
}
.header {
  height: 44.8vw;
  margin-top: 4.8vw;
}
.header ul {
  margin-right: 12.26666667vw;
  margin-top: 4.8vw;
  margin-left: 10.66666667vw;
  display: flex;
  justify-content: space-between;
  height: 10.93333333vw;
}
.header ul li:first-child {
  height: 3.2vw;
  width: 5.33333333vw;
  margin-top: 3.2vw;
}
.header ul li:nth-child(2) {
  height: 10.93333333vw;
  width: 10.93333333vw;
}
.header ul li:nth-child(3) {
  font-size: 4.26666667vw;
  margin-top: 4.26666667vw;
  font-weight: 600;
}
.header ul li:nth-child(4) {
  font-size: 4.26666667vw;
  margin-top: 4.26666667vw;
  font-weight: 600;
}
.header .top2 {
  font-size: 10.66666667vw;
  font-weight: 600;
  margin-top: 13.86666667vw;
  margin-left: 35.2vw;
  color: #fff;
  margin-bottom: 5.33333333vw;
}
.header .top3 {
  background-color: #9b59b6;
  color: #fff;
  padding: 5.33333333vw 8vw;
  font-size: 6.93333333vw;
  height: 19.2vw;
}
.boder {
  background-color: #fff;
  margin-top: 19.2vw;
}
.boder .top1 {
  margin-left: 5.06666667vw;
}
.boder .top1 ul {
  padding-top: 5.86666667vw;
}
.boder .top1 ul li {
  color: #5a5e7c;
  font-size: 4.8vw;
  font-weight: 400;
}
.boder .top1 ul li:first-child a {
  font-size: 6.93333333vw;
  color: #9b59b6;
  font-weight: 600;
}
.boder .top1 ul li:nth-child(2) {
  margin-top: 7.46666667vw;
}
.boder .top1 ul li:nth-child(2) img {
  height: 45.6vw;
  width: 90.13333333vw;
  border-radius: 1.33333333vw;
}
.boder .top1 ul li:nth-child(3) {
  margin-top: 7.2vw;
}
.boder .top1 ul li:nth-child(3) p {
  margin-bottom: 3.2vw;
}
.boder .top1 ul li:nth-child(4) {
  margin-top: 6.13333333vw;
}
.boder .top1 ul li:nth-child(4) .one {
  display: flex;
  color: #5a5e7c;
  font-size: 4.8vw;
  font-weight: 600;
}
.boder .top1 ul li:nth-child(4) .one span {
  margin-top: 1.6vw;
  margin-left: 2.13333333vw;
  margin-right: 2.13333333vw;
}
.boder .top1 ul li:nth-child(4) .one a {
  color: #9b59b6;
  margin-top: 1.6vw;
}
.boder .top1 ul li:nth-child(5) {
  margin-top: 5.86666667vw;
}
.boder .top1 ul li:nth-child(5) a {
  margin-top: 2.93333333vw;
  color: #9b59b6;
}
.boder .top1 ul li:nth-child(6) {
  padding-right: 5.06666667vw;
}
.boder .top1 ul li:nth-child(6) p {
  font-size: 3.86666667vw;
  font-weight: 400;
  color: #5a5e69;
  margin-top: 7.46666667vw;
}
.boder .top1 ul li:nth-child(6) span {
  margin-top: 6.66666667vw;
  font-size: 3.86666667vw;
  font-weight: 400;
  color: #5a5e69;
}
.boder .follow {
  margin-left: 5.06666667vw;
}
.boder .follow input {
  margin-top: 7.2vw;
  height: 10.66666667vw;
  width: 90.66666667vw;
  border: 0.26666667vw solid #5a5e69;
  font-size: 4.26666667vw;
  position: relative;
}
.boder .follow .one {
  position: absolute;
  right: 0;
  margin-right: 5.06666667vw;
  margin-top: 8vw;
}
.boder .follow .fol {
  font-size: 5.33333333vw;
  font-weight: 600;
  margin-top: 12.26666667vw;
  color: #414a5a;
}
.boder .follow .fol ul {
  margin-top: 7.46666667vw;
  display: flex;
}
.boder .follow .fol ul li {
  margin-right: 5.33333333vw;
}
.boder .follow .fol ul li a img {
  height: 11.2vw;
  width: 11.2vw;
}
.boder .follow .fol .sub a .qwe {
  padding: 2.66666667vw 13.33333333vw;
  width: 46.13333333vw;
  margin-top: 5.33333333vw;
  height: 11.46666667vw;
  background-color: #9b59b6;
}
.boder .categories {
  margin-left: 5.06666667vw;
}
.boder .categories h3 {
  margin-top: 10.4vw;
  font-size: 5.33333333vw;
  color: #414a5a;
}
.boder .categories ul {
  margin-top: 2.93333333vw;
}
.boder .categories ul li {
  margin-top: 6.66666667vw;
  font-size: 4.26666667vw;
}
.boder .categories ul li span {
  color: #9b59b6;
}
.boder .categories .tags {
  padding-bottom: 18.66666667vw;
}
.boder .categories .tags ul {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5.06666667vw;
}
.boder .categories .tags ul li {
  padding-top: 5.06666667vw;
  margin-right: 4.8vw;
}
.boder .categories .tags ul li a {
  font-size: 4.26666667vw;
  font-weight: 600;
  color: #5a5e69;
  height: 11.46666667vw;
  background-color: #f6fafb;
  padding: 4vw 2.93333333vw;
  border-radius: 1.33333333vw;
}
.foot {
  height: 31.46666667vw;
  background-color: #252a2f;
}
.foot .to {
  padding-top: 6.13333333vw;
  margin-left: 13.6vw;
  margin-right: 13.6vw;
  font-size: 4.26666667vw;
  font-weight: 600;
  color: #9b59b6;
}
.foot .buttom {
  margin-top: 6.4vw;
  margin-left: 36.53333333vw;
  margin-right: 36.53333333vw;
}
.foot .buttom ul {
  display: flex;
  justify-content: space-between;
}
